<strong>Olá, {{user}}</strong>
Você se inscreveu para o Meetup {{meetup.name}}

<strong>Detalhes do Meetup</strong>
<ul>
  <li><strong>Organizador</strong> {{meetup.organizer}} </li>
  <li><strong>Data/Hora:</strong> {{meetup.date}} </li>
</ul>
