Você se inscreveu para o Meetup <strong>{{meetup.title}}</strong>
<br /><br />

<strong>Detalhes do Meetup</strong>
<ul>
  <li><strong>Organizador:</strong> {{meetup.user.name}} </li>
  <li><strong>Data/Hora:</strong> {{date}} </li>
</ul>
